<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
  
    <add key="AccessToken" value=""/>
    <add key="AppKey" value="dingklt9rga2qkadjq8y"/>
    <add key="AppSecret" value="arrM5lbKTHxFT6Kx-xohhqvF9Wrbt5jEASA97Up_U42Z4H9TLbVEehcoeeWsHUzU"/>
  </appSettings>
</configuration>
